:ruby
  recipe ||= nil

:ruby
  data = {
    target: '#add-layer-modal',
    toggle: 'modal'
  }
%button.btn.btn-primary{ data: data, type: 'button' }
  Add Layer
:ruby
  aria = {
    hidden: 'true',
    labelledby: 'add-layer-modal-label'
  }
#add-layer-modal.modal.fade{ aria: aria, role: 'dialog' }
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header
        %h5#add-layer-modal-label.modal-title
          Add Layer
        :ruby
          aria = {
            label: 'Cancel'
          }
          data = {
            dismiss: 'modal'
          }
        %button.close{ aria: aria, data: data, type: 'button' }
          :ruby
            aria = {
              hidden: 'true'
            }
          %span{ aria: aria } ×
      .modal-body
        = form_for(:layer, url: recipe_layers_path(recipe_id: recipe.id), method: :post, html: { id: 'add-layer-form' }) do |f|
          = select_tag 'coat_type', options_for_select(['Bottom', 'Top'])
          = f.collection_select(:glaze_id, Glaze.all, :id, :name, { prompt: "Select Glaze" }, { name: 'glaze_id' })
      .modal-footer
        :ruby
          data = {
            dismiss: 'modal'
          }
        %button.btn.btn-secondary{ data: data, type: 'button' } Cancel
        %button.btn.btn-primary#my-submit-btn{ type: 'button' } Add Layer
