:ruby
  recipe ||= nil

:ruby
  data = {
    target: '#select-clay-modal',
    toggle: 'modal'
  }
%button.btn.btn-primary{ data: data, type: 'button' }
  Select Clay
:ruby
  aria = {
    hidden: 'true',
    labelledby: 'select-clay-modal-label'
  }
#select-clay-modal.modal.fade{ aria: aria, role: 'dialog' }
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header
        %h5#slect-clay-modal-label.modal-title
          Select Clay
        :ruby
          aria = {
            label: 'Cancel'
          }
          data = {
            dismiss: 'modal'
          }
        %button.close{ aria: aria, data: data, type: 'button' }
          :ruby
            aria = {
              hidden: 'true'
            }
          %span{ aria: aria } ×
      .modal-body
        = form_for(:layer, url: recipe_clays_path(recipe_id: recipe.id), method: :post, html: { id: 'select-clay-form' }) do |f|
          = f.collection_select(:clay_id, Clay.all, :id, :name, { prompt: "Select Clay" }, { name: 'clay_id' })
      .modal-footer
        :ruby
          data = {
            dismiss: 'modal'
          }
        %button.btn.btn-secondary{ data: data, type: 'button' } Cancel
        %button.btn.btn-primary#my-submit2-btn{ type: 'button' } Add Clay
