.jumbotron.jumbotron-fluid
  .container
    %h1.display-4 Test Test Test
    %p.lead This just tests to make sure Bootstrap is working.

.row
  .col-4
    This is the first column
  .col-8
    This column is bigger

%button#prove-jquery-works
  Prove jQuery Works
